@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body{
    margin:0px;
    padding:0px;
    font-family:quicksand;
    background-color: #ffffff ;

}
*{
    box-sizing:border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
nav{
    width:100%;
    box-shadow:2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index:100;
}
.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 45px;
}
.logo img{
    height: 150px;
}
.menu{
    display: flex;
}
.menu li{
    position:relative;
    margin:20px;
    display: flex;
    text-transform: uppercase;
    font-weight:500;
}
.menu li a{
    color: #555555;
}
.right-menu a{
    margin:0px 10px;
    font-size:1.2rem;
    color:rgba(0, 0, 0, 0.7);
    
}
.menu a:hover,
.right-menu a:hover{
    color:rgb(248, 184, 21);
    transition:all ease 0.3s;
}
.fa-shopping-cart{
    position:relative;
}

.search-box{
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    height: 0px;
    border-radius: 0px;
    padding: 0px;
}

.search-box:hover>.search-txt{
    width:240px;
    background: rgba(0, 0, 0, 0.05);
    padding:0 6px;
}
.search-box:hover>.search-btn{
    background: rgba(0, 0, 0,0.7);
}

.search-btn{
    color: rgba(0, 0, 0, 0.05);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float:left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
