@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body{
    margin:0px;
    padding:0px;
    font-family:quicksand;
    background-color: #ffffff ;

}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:quicksand;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
nav{
    display: flex;
    width: 100%;
    background: #0a5071;
    position:relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

.logo img{
    height: 120px;
    cursor: pointer;
}
nav ol{
    display:flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin:0 2px;
}
nav ol li a{
    color:#ffffff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    color:rgb(248, 184, 21);
    transition:all ease 0.3s;
}

.fa-shopping-cart{
    position:absolute;
}
.fa-shopping-user{
    position:absolute;
}

nav .search-box{
    display:flex;
    margin:auto 0;
    height:35px;
    line-height: 35px;
}
nav .search-box input{
    border:none;
    outline: none;
    background: #ffffff;
    height: 100%;
    padding:0 10px;
    font-size: 20px;
    width:350px;
}
nav .search-box span{
    color: #0a5071;
    font-size:20px;
    background:#ffffff;
    height: 100%;
    padding:8px;
    position:relative;
    cursor: pointer;
    z-index: 1;
}
nav .search-box span:hover{
    color: rgb(248, 184, 21);
    transition:all ease 0.3s; 
}

