@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html, body{
    height: 100%;
    margin:0px;
    padding:0px;
    font-family:quicksand;
    background-color: #ffffff ;
}
/*colour palette: #000B38 #003A7A #065471 #B0A5A1 #FEC046*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:quicksand;
}

a{
    text-decoration:none;
}
nav{
    display: flex;
    width: 100%;
    background: #065471;
    position:relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon{
    font-size: 35px;
    font-weight: 8000;
    color:#FEC046;
    cursor:pointer;
    font-family: quicksand;
    margin:auto 0;
}
.logo img{
    height: 120px;
    cursor: pointer;
}
nav ol{
    display:flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin:0 2px;
}
nav ol li a{
    color:#ffffff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    color:#FEC046;
    transition:all ease 0.3s;
}
.fa-shopping-cart{
    color:#ffffff;

}
.fa-user{
    color:#ffffff;
    
}
.fa-shopping-cart:hover{
    color:#FEC046;
    transition:all ease 0.3s;
}
.fa-user:hover{
    color:#FEC046;
    transition:all ease 0.3s;
}
nav .search-box{
    display:flex;
    margin:auto 0;
    height:35px;
    line-height: 35px;
}
nav .search-box input{
    border:none;
    outline: none;
    background: #ffffff;
    height: 100%;
    padding:0 10px;
    font-size: 20px;
    width:500px;
}
nav .search-box span{
    color: #065471;
    font-size:20px;
    background:#ffffff;
    height: 100%;
    padding:8px;
    position:relative;
    cursor: pointer;
    z-index: 1;
}
nav .search-box span:hover{
    color: #FEC046;
    transition:all ease 0.3s; 
}

.page-wrapper {
    min-height: 100%;
}

.page-wrapper a:hover{
    color: #006669;
}

/*post sileder*/

.post-slider {
    position: relative;
}

.post-slider .silder-title{
    text-align: center;
    margin: 30px auto;
}

.btn {
    padding: .5rem 1rem;
    background: black;
    color: yellow;
    border: 1px solid transparent;
    border-radius: .25rem;

}


.btn-bing {
    padding: 7rem 1.3rem;
    line-height: 1.3rem;
    
}

.btn:hover{
    color: white !important;
    background: pink;
}


/*FOOTER*/
.footer {
    background: #0a5071;
    color: #d3d3d3;
    height: 350px;
    position: relative;
}
.footer .footer-content{
    
    height: 200px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
  
}

.footer .footer-content h1,
.footer .footer-content h2
{
    color: white;
}

.footer .footer-content .about h1 span{
 color:   yellow;
}


.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}



.footer .footer-content .about .socials a{
    border: 1px solid yellow;
    width: 45px;
    height: 41px;
    padding-top: 5px; 
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size:1.3em;
    border-radius: 5px;

}

.footer .footer-content .about .socials a:hover {
    border: 1px solid yellow;
    color: yellow;
    transition: all .3s;
}

.footer .footer-section .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
}
.footer .footer-section .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
    color: yellow;
    margin-left: 15px;
    transition: .3s;

}



.footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;

}

.footer .footer-content .contact-form .contact-input:focus{
    background: yellow;

}

.footer .footer-content .contact-form .contact-btn {
    float: left; 
}

.footer .footer-bottom{
  background: #303030;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;  
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;

}